

body.toplevel_page_coders_clipboard .container.path > li.node{
    display: inline-block;
    cursor: default;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 19px;
}
body.toplevel_page_coders_clipboard .container.path > li.node a{
    text-decoration: none;    
}
body.toplevel_page_coders_clipboard .container.path > li.node:not(:last-child):after{
    content: '\f345';
    font-family: dashicons;
    font-size: 13px;
    display: inline-block;
    color: rgba(0,0,0,0.25);
    margin: 0 4px;
}


#wpbody-content{
    
}

#wpbody-content .coders-clipboard{
    
}
#wpbody-content .coders-clipboard button,
#wpbody-content .coders-clipboard .button{
    cursor: pointer;
}
#wpbody-content .coders-clipboard button > .dashicons,
#wpbody-content .coders-clipboard .button-primary > .dashicons,
#wpbody-content .coders-clipboard .button > .dashicons{
    margin-top: 4px;
}
#wpbody-content .coders-clipboard .container label > input[type="file"]{
    display: none;
}

#wpbody-content .coders-clipboard .container{
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2px;
}
#wpbody-content .coders-clipboard .container .tab{
    transition: height ease-in 200ms;
}
#wpbody-content .coders-clipboard .container .tab.collapsed{
    height: 40px;
    overflow: hidden;
    border-bottom: 2px solid rgba(0,0,0,0.25);
}
/*#wpbody-content .coders-clipboard .container .tab .toggle{
    background: rgba(0,0,0,0.1);
    display: block;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    transition: background ease-in 200ms;
    margin: 20px auto;
}*/
/*#wpbody-content .coders-clipboard .container .tab.collapsed .toggle{
    background: linear-gradient(#ffffff,#fafafa);
    height: 40px;
}*/

#wpbody-content .coders-clipboard .container.notifier{
    position:  relative;
    overflow: initial;
    padding: 20px;
    margin: 0;
}
#wpbody-content .coders-clipboard .notifier:after{
    content: '';
    display: block;
    clear: both;
}
#wpbody-content .coders-clipboard .notifier > .notice{
    margin: 4px auto;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px 4px 0;
    position: absolute;
}
#wpbody-content .coders-clipboard .container .tab.collapsed > .container{
    display: none;
}
#wpbody-content .coders-clipboard > .container{
    margin: 20px 0;
    padding: 0;
}
#wpbody-content .coders-clipboard > .container.clip{
    overflow: hidden;
}
#wpbody-content .coders-clipboard > .container.separator{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
#wpbody-content .coders-clipboard .container.solid{
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
#wpbody-content .coders-clipboard .container.half{
    display: inline-block;
    width: 50%;
    float: left;
}

#wpbody-content .coders-clipboard .container .right{
    float:right;
}


#wpbody-content .coders-clipboard > .container:after{
    clear:both;
    display: block;
    height: 0;
    content: '';
}
#wpbody-content .coders-clipboard .container.centered{
    text-align: center;
}
#wpbody-content .coders-clipboard .container .button-primary.wide,
#wpbody-content .coders-clipboard .container .button.wide{
    min-width: 200px;
    padding: 10px 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
#wpbody-content .coders-clipboard .container .block{
    padding: 10px;
    margin: 10px 0;
    display: block;
    
    letter-spacing: 1px;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
    position: relative;
}
#wpbody-content .coders-clipboard .container .block:after{
    clear:both;
    content :'';
    display: block;
}
#wpbody-content .coders-clipboard .container .block.inline{
    display: inline-block;
}
#wpbody-content .coders-clipboard .container .block.solid{
    background-color: rgba(255,255,255,0.25);
}
#wpbody-content .coders-clipboard .container .block.edit:after{
    font-family: 'Dashicons';
    content: '\f464';
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    opacity: 0;
    transition: opacity ease-in 200ms;
    transition: right ease-in 160ms;
}
#wpbody-content .coders-clipboard .container .block.edit:hover:after{
    opacity: 1;
    right: 10px;
}

#wpbody-content .coders-clipboard .container .content.attachment{
    padding: 0;
    width: 100%;
    display: block;
    text-align: left;
}
#wpbody-content .coders-clipboard .container .content.media{
    overflow: hidden;
    display: block ;
    width: 100%;
    height: 100%;    
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.1));
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
#wpbody-content .coders-clipboard .container .content.media.collapsed{
    height: 300px;
}
#wpbody-content .coders-clipboard .container .content.media img{
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
    transition: transform ease-in 800ms;
}
#wpbody-content .coders-clipboard .container .content.media.picture img,
#wpbody-content .coders-clipboard .container .content.media.landscape img{
    height: auto;
    width: 100%;
}
#wpbody-content .coders-clipboard .container .content.media:hover > img{
    transform: scale(1.1);
}
#wpbody-content .coders-clipboard ul.inline > li{
    display: inline-block;
}
#wpbody-content .coders-clipboard ul.path{
    margin: 10px 0 20px;
}
#wpbody-content .coders-clipboard ul.path > li.node{
    display: inline-block;
    cursor: default;
}
#wpbody-content .coders-clipboard ul.path > li.node.right{
    float: right;
}
#wpbody-content .coders-clipboard ul.path > li.node:not(:last-child):after{
    content: '|';
    display: inline-block;
    color: rgba(0,0,0,0.25);
    margin: 0 4px;
}

#wpbody-content .coders-clipboard > .collections{
    position: relative;
}
#wpbody-content .coders-clipboard > .collections:after{
    clear:both;
    display: block;
    height: 0;
    content: '';
}

#wpbody-content .coders-clipboard > .collections > li.item{
    
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 22%;
    margin: 0 4% 4% 0;
    padding-bottom: 22%;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    background: linear-gradient(#f5f5f5,#ffffff,#f5f5f5);
}
#wpbody-content .coders-clipboard > .collections > li.item:nth-child(4n){
    margin-right: 0;
}

#wpbody-content .coders-clipboard > .collections > li.item > .content{
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0; left: 0; right: 0; bottom: 0;   
    transition: border ease-in 200ms, padding ease-in 150ms;
    box-sizing: border-box;
}
#wpbody-content .coders-clipboard > .collections > li.item > .content img.landscape{
    width: auto;
    height: 100%;
}
#wpbody-content .coders-clipboard > .collections > li.item > .task{
    position: absolute;
    /*pointer-events: none;*/
    opacity: 0;
    display: inline-block;
    color: #3a3a3a;
    padding: 10px;
    font-weight: 500;
    text-align: center;
}
#wpbody-content .coders-clipboard > .collections > li.item > .task.counter{
    cursor: default;
}
#wpbody-content .coders-clipboard > .collections > li.item > .task.visible{
    opacity: 1;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
    border-radius: 50%;
    transition: color ease-in 100ms, text-shadow ease-in 200ms;
}
#wpbody-content .coders-clipboard > .collections > li.item:hover > .task.visible{
    color: #3a3a3a;
    text-shadow: none;
}
#wpbody-content .coders-clipboard > .collections > li.item > .task.counter:before{
    content: '\f161';
    font-family: dashicons;
    font-size: 15px;
    position: relative;
    left: -4px;
}
#wpbody-content .coders-clipboard > .collections > li.item > a.task:active,
#wpbody-content .coders-clipboard > .collections > li.item > a.task:focus,
#wpbody-content .coders-clipboard > .collections > li.item > a.task:hover{
    background-color: #ffffff;
    box-shadow: none;
}
#wpbody-content .coders-clipboard > .collections > li.item:hover > .task{
    pointer-events: initial;
    opacity: initial;
}
#wpbody-content .coders-clipboard > .collections > li.item> .task.top-center{
    top: 0;
    left: calc(50% - 20px);
}
#wpbody-content .coders-clipboard > .collections > li.item > .task.top-right{
    top: 0;
    right: 0;
}
#wpbody-content .coders-clipboard > .collections > li.item > .task.top-left{
    top: 0;
    left: 0;
}
#wpbody-content .coders-clipboard > .collections > li.item > .task.bottom-right{
    bottom: 0;
    right: 0;
}
#wpbody-content .coders-clipboard > .collections > li.item > .task.bottom-left{
    bottom: 0;
    left: 0;
}

#wpbody-content .coders-clipboard > .collections > li.item > .content > .attachment{
    display: block;
    width: 40%;
    height: auto;
    margin: 30% auto;
    font-size: 64px;
    color: rgba(0,0,0,0.25)
}

#wpbody-content .coders-clipboard > .collections > li.item > .content > .media{
    width: 100%;
    height: auto;
    transition: transform ease-in 800ms, border-radius 200ms;
}
#wpbody-content .coders-clipboard > .collections:not(.move) > li.item:hover > .content > .media{
    transform: scale(1.1);
}
#wpbody-content .coders-clipboard > .collections > li.item > .content > .cover{
    display: flex;
    box-sizing: border-box;
    padding: 4px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255,255,255,0.85);
    opacity: 0;
    transition: opacity ease-in 400ms;
    
    color: #3a3a3a;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    flex-direction: column;   /* If you want multiple lines stacked */
    
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    word-wrap: break-word;
}
#wpbody-content .coders-clipboard > .collections:not(.move) > li.item:hover > .content > .cover{
    opacity: 1;
}
#wpbody-content .coders-clipboard > .collections > li.fullwitdh{
    width: 100%;
    display: block;
    clear: both;
}

#wpbody-content .coders-clipboard > .collections > li.item > .placeholder {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    border: 1px dashed rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity ease-in 200ms,background ease-in 200ms,border ease-in 200ms, padding ease-in 200ms;
    box-sizing: border-box;
}

#wpbody-content .coders-clipboard > .collections.move > li.item:hover{
    box-shadow: none;
}
#wpbody-content .coders-clipboard > .collections.move > li.item > .task,
#wpbody-content .coders-clipboard > .collections.move > li.item > .cover{
    display: none;
    z-index: -10;
}

#wpbody-content .coders-clipboard > .collections.move > li.item > .placeholder {
    opacity: 1;
    z-index: 10;
}
#wpbody-content .coders-clipboard > .collections.move > li.item > .placeholder:hover {
    background-color: rgba(0,0,0,0.5);
    border: transparent;
    padding: 20px;
}
#wpbody-content .coders-clipboard > .collections.move > li.item {
    background: none;
    box-shadow: none;
    margin: 0;
    width: 25%;
}
#wpbody-content .coders-clipboard > .collections.move > li.item > .content {
    padding: 80px;
}
#wpbody-content .coders-clipboard > .collections.move > li.item > .content > .media{
    border-radius: 50%;
}

#wpbody-content .coders-clipboard > .collections.move > li.item:not(.moving) > .content:hover {
    box-shadow: 0 0 16px rgba(0,0,0,0.6);
}

#wpbody-content .coders-clipboard > .collections.move > li.item.moving .placeholder{
    display: none;
}
#wpbody-content .coders-clipboard > .collections.move > li.item.moving .content{
    opacity: 0.15;
}



#wpbody-content .coders-clipboard .container .form-input{
    width: 100%;
    border: none;
    border-radius: 2px;
    letter-spacing: 1px;
    background-color: rgba(255,255,255,0.65);
    transition: ease-in 200ms;
    min-height: 38px;
    box-sizing: border-box;
    padding: 4px 8px;
}
#wpbody-content .coders-clipboard .container .form-input.half{
    width: 50%;
}
#wpbody-content .coders-clipboard .container .form-input.half:nth-child(2n){
    float: right;
}
#wpbody-content .coders-clipboard .container .form-input.header{
    background-color: transparent;
    font-size: x-large;
}

#wpbody-content .coders-clipboard .container .form-input:hover,
#wpbody-content .coders-clipboard .container .form-input:active,
#wpbody-content .coders-clipboard .container .form-input:focus{
    box-shadow: 0 0 8px rgba(0,0,0,0.1) !important;
    background-color: #ffffff !important;
}
#wpbody-content .coders-clipboard .container .form-input:focus{
    outline: none;
}




#wpbody-content .coders-clipboard .clipboard-box{
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    margin: 0;
    height: 50px;
    border-bottom: 1px solid #dadada;
    padding: 4px 0;
    overflow: hidden;
}
#wpbody-content .coders-clipboard .clipboard-box > .item{
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    transition: opacity ease-in 200ms;
}
#wpbody-content .coders-clipboard .clipboard-box > .item:first-child{
    opacity: 0;
}

#wpbody-content .coders-clipboard .clipboard-box > .item.uploaded{
    opacity: 1;
}
#wpbody-content .coders-clipboard .clipboard-box > .item > .content{
    width: 100%;
    height: auto;
}


