
body{
    background-color: red;
}
body > .coders-clipboard.main{
    background: linear-gradient( #ffffff, #fafafa );
    
}

body > .coders-clipboard.main > .container{
    display: block;
    margin: 40px auto;
    padding: 40px;
}

body > .coders-clipboard.main > .container.collections{
    
}
body > .coders-clipboard.main > .container.collections:after{
    content: '';
    display: block;
    clear: both;
}
body > .coders-clipboard.main > .container.collections > .item{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin: 0 4% 4% 0;
    position: relative;
    height: 0;
    padding: 0 0 22% 0;
    float: left;
    border-radius: 4px;
}
body > .coders-clipboard.main > .container.collections > .item:nth-child(4n){
    margin-right: 0;
}
body > .coders-clipboard.main > .container.collections > .item > .content{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
body > .coders-clipboard.main > .container.collections > .item > .content > .media{
    width: 100%;
    height: auto;
}
body > .coders-clipboard.main > .container.collections > .item > .content > .cover{
    position: absolute;
    top: 0; left: 0; right: 0; bottom:  0;
    background-color: rgba(0,0,0,0.5);
    color: #fafafa;
    font-weight: 500;
    letter-spacing: 1px;
    pointer-events: none;
    transition: opacity ease-in 200ms;
    opacity: 0;
    
    display: flex;
    box-sizing: border-box;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    flex-direction: column;   /* If you want multiple lines stacked */    
}
body > .coders-clipboard.main > .container.collections > .item:hover > .content > .cover{
    opacity: 1;
    z-index: 10;
}